body{
    background: rgb(30, 30, 30);
    color: rgb(190, 140, 100);
    margin: 0;
    padding: 0;
    font-family: "Catamaran";
}
header{
    background: rgb(10, 10, 10);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    margin: auto;
}
div{
    margin: auto;
}
a{
    text-decoration: none;
    background: rgb(10, 10, 10);
    color: rgb(190, 140, 100);
    font-size: 80%;
}
section{
    margin-left: 20%;
    margin-right: 20%;
    /*I don't think this does anything? - display: block;*/
    padding: 0px;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
footer{
    background: rgb(10, 10, 10);
}