body{
    background: rgb(30, 30, 30);
    color: rgb(190, 140, 100);
    margin: 0;
    padding: 0;
    font-family: "Catamaran";
}
header{
    background: rgb(10, 10, 10);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
}
li{
    font-size: 45px;
    padding: 0;
    border-radius: 20px;
    border-width: 20px;
    border: black;
}
/*.htmltutorial{
    padding-top: 110px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url("assets/html.png");
}*/
div{
    margin: auto;
}
a{
    text-decoration: none;
    color: rgb(190, 140, 100);
    font-size: 80%;
}
section{
    margin-left: 20%;
    margin-right: 20%;
    /*I don't think this does anything? - display: block;*/
    padding: 0px;
}
p{
    background: black;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
h3{
    margin: 0;
    padding: 0;
    font-size: 20px
}
a:hover{
    background: rgb(190, 140, 100);
    color: rgb(10, 10, 10);
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: -20px;
}
footer{
    background: rgb(10, 10, 10);
}